*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent horizontal overflow issues */

html,
body,
#root {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

/* Optional: smooth font rendering */
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}